---
import Layout from "../layouts/Layout.astro";
import ReactConfetti from "react-confetti";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---
<ReactConfetti client:visible />

<Layout title="Aviso importante">
    
    <NavBar />
    <h2 class="text-2xl font-bold flex flex-col items-center justify-center mt-10"><strong>Aviso importante</strong>  ¡Hola, comunidad de Miucoin! 🚀</h2>

    <div class="flex min-h-screen items-center justify-center">
        <div class="min group [perspective:1240px]">
            <div class="relative h-full w-full rounded-xl shadow-2xl transition-all duration-500 [transform-style:preserve-3d]
                        group-hover:[transform:rotateY(180deg)]
            ">
                <div class="absolute inset-0">
                    <img class="h-full w-full rounded-xl shadow-black/40 shadow-xl object-cover object-top" src="./images/aidrop.png" alt="aidrop" />
                </div>
                
                <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200
                        [transform:rotateY(180deg)] [backface-visibility:hidden]">
                    <div class="flex min-h-full flex-col items-center justify-center">
                        <p class="text-lg text-white"> Estamos emocionados de anunciar nuestro nuevo programa de airdrops. Por cada nuevo miembro que traigas a nuestra comunidad, recibirás 100,000 tokens Miu directamente en tu wallet. 🎉

                            ¿Cómo funciona?
                            Invita a tus amigos a unirse a nuestra comunidad.
                            Por cada persona que se una gracias a ti, recibirás 100,000 tokens Miu.
                            Los tokens se distribuirán los sábados.
                            ¡Mientras más personas invites, más tokens recibirás!
                            Es una gran oportunidad para hacer crecer nuestra comunidad y, al mismo tiempo, aumentar tu cantidad de tokens Miu. ¡Es un impulso para todos!
                            
                            Empieza a invitar y acumula tus tokens</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white rounded-lg shadow-md p-4 w-1/2 mt-10">
            <img src="./images/Log.png" alt="Imagen de la tarjeta" class="w-24 h-24 rounded-full mr-4">
            <div>
              <h2 class="text-lg font-semibold">Título de la tarjeta</h2>
              <p class="text-gray-600">Descripción de la tarjeta...</p>
              <p><button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                <img src="./images/pinksale.png" alt="pinksale" class="w-10 h-10" />
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Comprar
                </span></p>   
            </div>
        </div>
    </div>

   <Footer />
    
</Layout>

<style>
    .min {
        height: 500px;
        width: 500px;
    }

    
</style>