---
import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";
import Bento from "@components/Bento.astro";
import Section from "@components/Section.astro";
import Slider from "@components/Slider.astro";
import Footer from "@components/Footer.astro";
import { getI18N } from '../i18n';
import Header from "@components/Header.astro";
import Banner from "@components/util/Banner.astro";
import Body from "@components/Body.astro";

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title=`${i18n.SEO_TITLE_1}&nbsp;${new Date().getFullYear()}&nbsp;${i18n.SEO_TITLE_2}`  description={i18n.SEO_DESCRIPTION}>
</Layout>

<Header />
<Banner />
<Body>
    <main>
        <Main/>
        <Bento/>
        <Slider />
        <Section />
        <Footer />
    </main>
</Body>