<body class="bg-slate-50 dark:bg-zinc-800 dark:backdrop:blur-lg dark:bg-[url('/images/space.webp')] bg-cover w-full min-h-screen bg-fixed bg-center bg-no-repeat    text-zinc-900 dark:text-zinc-300 break-words leading-6 transition-colors duration-500"><slot/>


</body>

