

<section id="home" class="py-20">
  <div class="container flex flex-wrap items-center justify-center mx-auto mt-10 md:px-12 md:flex-row">
    <div class="mb-14 lg:mb-0 lg:w-1/2">
      <h1 class="max-w-xl hero__text text-[2.9rem] leading-none text-blue-400 font-extrabold font-sans *:
       text-center lg:text-5xl lg:text-left lg:leading-tight 
       dark:text-white mb-5">
      Bienvenidos a MiuCoin </h1>
      <p class="max-w-xl text-center dark:text-white text-gray-500 lg:text-left lg:max-w-md">
              Miucoin es una criptomoneda única que nace de la comunidad, para la comunidad.
              Inspirada en el espíritu felino, la cultura meme y la innovación tecnológica, Miucoin busca
              revolucionar el panorama de las criptomonedas al ofrecer una experiencia divertida y accesible
              
              para todos los usuarios.
      </p>
      <div class="flex justify-center mt-10 lg:justify-start">
        <a href="https://t.me/+EHxgXUgl8bEwMmIx" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"> comprar</a>
        <a href="#Roadmap"class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Roadmap</a>
      </div>  
    </div> 
    <div class="lg:w-1/2">
      <img class="ml-auto img__src " src="Volando.webp" alt="image-hero" />
      <strong class="text__title lg:text-2xl md:text-cemter md:text-xl dark:text-white text-black"> &quot;Los perros han cumplido su ciclo, es el momento de que Miucoin tome el liderazgo&quot;</strong>
    </div>
  </div>
<script>
 import ScrollReveal from 'scrollreveal/dist/scrollreveal.js'
    const sr = ScrollReveal({
      origin: 'bottom',
      distance: '60px',
      duration: 3000,
      delay: 600,
    });
    sr.reveal('.hero__text', {
      origin: 'right',
    });
    sr.reveal('.img__src', {
      origin: 'left',
      delay:800,
    });
    sr.reveal('.text__title', {
      origin: 'bottom',
      delay: 800,
    });
</script>
</section>
<style>

p{
		line-height: 1.4;
		padding-left: 8px;
		font-size: 1em;
		font-weight: 100;
		letter-spacing: .5px;
	}

  #logo{
    width: 90px;
  }
  .card:hover {
  animation: pulse 1s infinite;
}




</style>

