
<article class="brands__img text-center py-10  ">
    <h2 class="text-2xl w-64 mx-auto leading-normal font-bold mb-12">Patrocinadores </h2>
    <div class="flex  max-w-screen-lg mx-auto flex-wrap items-center justify-center gap-20">
      <div class="image-container bg-white/5 p-8 rounded-xl">
       <a href=""><img src="pinksale.webp" alt="PinkSale" class="h-20 " />
       </a>         
      </div>
      <div class="image-container bg-white/5 p-8 rounded-xl ">
        <a href=""><img src="coinmarketcapLogo.png" alt="CoinMarketCap" class="h-20" /> </a>
      </div>
      <div class="image-container bg-white/5 p-8 rounded-xl ">
       <a href=""> <img src="CoingeckoLogo.png" alt="CoinGecko" class="h-20" /></a> 
      </div>
      <div class="image-container bg-white/5 p-8 rounded-xl ">
        <a href="https://t.me/+EHxgXUgl8bEwMmIx"><img src="Telegram.webp" alt="Telegram" class="h-24" />
        </a>      
      </div>
    </div>
  
  </article>
  

  
<script >
  
  import ScrollReveal from 'scrollreveal/dist/scrollreveal.js'
    const sr = ScrollReveal({
      origin: 'bottom',
      distance: '60px',
      duration: 3000,
      delay: 600,
    });
    sr.reveal('.brands__img', {
      delay:200,
      interval: 200,
      distance: '100px'
    });

  </script>
