<div id="Roadmap" class="slider min-w-screen min-h-screen flex items-center justify-center py-5">
    <div class="w-full  border-t border-b border-gray-200 px-5 py-16 md:py-24 text-gray-800">
        <div class="w-full max-w-6xl mx-auto">
            <div class="text-center max-w-xl mx-auto">
                <h1 class="text-6xl md:text-7xl font-bold mb-5 dark:text-white">Mapa vial <br>RoadMap.</h1>
                <h3 class="text-xl mb-5 font-light text-black dark:text-white">Miucoin liderando el camino en el mapa vial.</h3>
                <div class="text-center mb-10">
                    <span class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"></span>
                    <span class="inline-block w-40 h-1 rounded-full bg-indigo-500"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"></span>
                    <span class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"></span>
                </div>
            </div>
            <div class="-mx-3 md:flex items-start">
                <div class="px-3 md:w-1/3">
                    <div class="w-full mx-auto rounded-lg shadow-lg dark:bg-gradient-to-b from-transparent from-17% via-[#151836]/50 to-[#151836]/80 border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                           
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-center dark:text-white uppercase text-gray-800 ">Fase 1.</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="leading-tight dark:text-white text-gray-900 lg:text-base md:text-3xl "><span class="leading-none italic font-bold text-gray-400 mr-1">"</span>
                                <strong class="text-zinc-600 font-bold underline text-wrap ... dark:text-white">primer semana y segunda semana: </strong> Lanzamiento de Miucoin, preventa privada hasta llegar a
                                los 300 miembros, preventa publica ICO y distribución inicial construcción de la comunidad
                                como programa de recompensas y airdrop se le dara 100.000 $Miu a todo aquel usuario que
                                quiera unirse a nuestra comunidad,(la distribución será todos los domingos de la semana).<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
                    <div class="w-full mx-auto rounded-lg shadow-lg dark:bg-gradient-to-b from-transparent from-17% via-[#151836]/50 to-[#151836]/80   border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                         
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-center uppercase dark:text-white text-gray-800 md:text-2xl lg:text-base">Fase 2.</h6>
                            </div>
                        </div>
                        <div class="w-full">
                           <p class="leading-tight text-gray-900 lg:text-base dark:text-white md:text-3xl"><span class="leading-none italic font-bold text-gray-400 mr-1">"</span>

                                Lanzamiento oficial de Miucoin al mercado -al llegar a los 1500 holders se empezara a buscar
                                
                                enlistamiento del token en coingeko y coinmarket cap
                                
                                - concursos para que los usuarios se puedan beneficiar por creación de contenido<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
                </div>
                <div class="px-3 md:w-1/3">
                    <div class="w-full mx-auto rounded-lg shadow-lg dark:bg-gradient-to-b from-transparent from-17% via-[#151836]/50 to-[#151836]/80  border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                           
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-center dark:text-white uppercase text-gray-800 md:text-2xl lg:text-base">Fase 3.</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="leading-tight text-gray-900 dark:text-white lg:text-base md:text-3xl"><span class="leading-none italic font-bold text-gray-400 mr-1">"</span>después del crecimiento de la comunidad y token $Miu, empieza el desarrollo de la
                                plataforma de memes integrada y lanzamiento de los primeros desafíos creativos..<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
                    <div class="w-full mx-auto rounded-lg shadow-lg dark:bg-gradient-to-b from-transparent from-17% via-[#151836]/50 to-[#151836]/80 border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                            
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-center uppercase dark:text-white text-gray-800 md:text-2xl lg:text-base">Fase 4.</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="leading-tight text-gray-900 dark:text-white lg:text-base md:text-3xl"><span class="leading-none italic font-bold mr-1">"</span>

                                Implementación de la gobernanza descentralizada y expansión de las funcionalidades de la
                                
                                plataforma.<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
                </div>
                <div class="px-3 md:w-1/3">
                    <div class="w-full mx-auto rounded-lg shadow-lg dark:bg-gradient-to-b from-transparent from-17% via-[#151836]/50 to-[#151836]/80 border  border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                            
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-center uppercase dark:text-white text-gray-800 md:text-2xl lg:text-base">Fase 5.</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="leading-tight text-gray-900 dark:text-white lg:text-base md:text-3xl"><span class="leading-none italic font-bold text-gray-900 mr-1">"</span>Integración de marketplace (Miuplace) donde se creara arte digital 100% NFTs, el proyecto
                                Miucoin tendra como finalidad sus propios NFTs y se podran comercializar en cualquier
                                plataforma unos de los objetivos del proyecto Miucoin tiene como objetivo reencontrarnos y
                                hacer crecer el mercado del mundo de los NFTs que por tanto tiempo a estado dormido<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
                               </div>
            </div>
        </div>
    </div>
</div>

<style>
    @media (max-width: 790px) {
        p{
            font-size: 1.1rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        h6{
            font-size: 1.3rem;
        }
        strong{
            font-size: 1.2rem;
        }
    }
</style>

<script >
    
    import ScrollReveal from 'scrollreveal/dist/scrollreveal.js'
      const sr = ScrollReveal({
        origin: 'bottom',
        distance: '60px',
        duration: 3000,
        delay: 600,
      });
      sr.reveal('.slider', {
        delay:200,
        interval: 200,
        distance: '100px'
      });
    </script>
  