---
import Body from '../components/Body.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	description: string;
	title: string;
}
const {description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<slot name="preload" />

	<ViewTransitions />
	<Body>
		<slot />
	</Body>
</html>
<style is:global>

p {
        line-height: 1.4;
        margin-bottom: 1em;
        font-weight: 100;
        font-size: 1em;
        letter-spacing: 0.5px;
      }

      p strong {
        color: white;
        font-weight: 700;
      }
	html {
  scroll-behavior: smooth;
}
#tituo {
	font-family: 'Chivo', sans-serif;
}
	#header-nav{
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range: 0 800px;
	}

@media (min-width: 992px) {
	@keyframes blur {
	0% {
		filter: blur(0px);
	}
	100% {
		filter: blur(5px);
	}	
}
}

</style>
